<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">

<head>
<meta name="Content-Language" content="ja">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Mon, 25 Jan 2010 15:26:15 GMT">
-->
<link rel="stylesheet" type="text/css" href="${root_css}">
<!--
<link rev="made" href="${webmaster}">
<link rel="INDEX" href="http://hylom.net/">
<link rel="CONTENTS" href="http://hylom.net/">
<link rel="SHORTCUT ICON" href="/fav.ico" type="image/x-icon">
<meta name="description" content="">
<meta name="keywords" content="">
<script language="JavaScript" type="text/javascript" src=""></script>
-->
<title>${title}</title>
</head>
