
<%include file="header.html"/> 

<body class="login">
  <h1>newsclip login</h1>

  <div class="login_form">
    <form action="${app_root}" method="post">
      <input type="hidden" name="return_to" value="/" />
      <input type="hidden" name="login" value="1" />
      <div>
	ログイン名：<br/>
	<input type="text" name="form_loginname" id="form_loginname" VALUE="" />
      </div>
      <div>
	パスワード：<br/>
	<input type="password" name="form_pw" />
      </div>
      <input type="submit" value="ログイン" />
    </form>
  </div>

  ${DEBUG_MSG}

</body>

<%include file="footer.html"/>
