
<%include file="header.html"/> 

<body class="login">
  <h1>newsclip setup</h1>

  <h2>Register Login Informations</h2>
  <div class="form">
    <form action="${app_root}/setup" method="post">
      <input type="hidden" name="setup" value="1" />
      <div>
	ログイン名：<br/>
	<input type="text" name="loginname" id="loginname" VALUE="" />
      </div>
      <div>
	パスワード：<br/>
	<input type="password" name="passwd" />
      </div>
      <input type="submit" value="登録" />
    </form>
  </div>

  ${DEBUG_MSG}

</body>

<%include file="footer.html"/>
